body {
    background-color: lightblue;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

h2 {
    color: black;
    margin-block-start: 0.2em;
    margin-block-end: 0;
}

line {
    stroke: black;
    stroke-width: 4;
}

img {
    float: right;
    margin: 0 0 10px 10px;
    clear: both;
}

a {
    color: maroon;
    font-size: 1.5em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr {
    background-color: white;
}

.calcoperator {
    background-color: azure;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkblue;
    color: white;
}