body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

line {
    stroke: black;
    stroke-width: 2;
}

.union {
    fill: #002147;
}

.stripe {
    fill: #bb133e;
}

.star {
    fill: white;
    stroke: white;
}

text {
    text-anchor: middle;
    font-weight: bold;
    font-size: 24px;
}

a {
    color: maroon;
    font-size: 1.5em;
    font-weight: bold;
}