table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr {
    background-color: white;
}

.calcoperator {
    background-color: azure;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkblue;
    color: white;
}